
<label for="name">
	<f:translate key="tx_cmajaxcontactform_domain_model_contact.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_cmajaxcontactform_domain_model_contact.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
  <f:translate key="tx_cmajaxcontactform_domain_model_contact.phone" />
</label><br />
  <f:form.textfield property="phone" /><br />
<label for="message">
	<f:translate key="tx_cmajaxcontactform_domain_model_contact.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />